/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; 
}


/* logo */

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 80px;
    padding: 5px; 
	background: #333;
}


/* title */

.home-header-title {
	background-color: #333;
	color: #d5d5d5;
	padding: 10px;
	font-size: 3.5em;
}

.home-header-title:hover {
	background: linear-gradient(to right, #bb2043, #58b8eb); 
    -webkit-background-clip: text; 
}


/* nav */
nav {
	display: flex;
    text-align: center;
	align-items: center;
	background-color: #333;
}

nav ul {
    display: inline-flex;
    list-style: none;
    margin: 9;
    padding: 0;
	background-color: #333;
    margin-right: 2.5em;
}

nav ul li {
    margin: 0px 20px;
	background-color: #333;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
	background-color: #333;
	color: #d5d5d5;
}

nav p {
    background-color: #333;
    color: #d5d5d5;
}

nav ul li a:hover {
	color: #bb2043;
}


/* button styles */
.btn {
    display: grid;
    place-items: center;
    background: #e3edf7;
	background-color: #333d;
    box-shadow: 6px 6px 10px  rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
	margin: 0;
}
  
.btn:hover {
    border: 1px solid rgba(0,0,0,0.1);
}
  
.btn svg {
    transition: transform 0.5s;
	fill: #333;
}
  
.btn:hover svg {
    transform: scale(0.9);
    fill:  #bb2043;
}


/* AD banner */

.banner {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
}

.banner img{
    max-width: 35%;
    margin: 30px;
}


/* main */
main {
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* random sentence */

/* articles */

.article {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: #f6f6f6;
    padding: 0 6px;
    cursor: pointer;
    border-radius: 7px;
}

.new-image-preview {
    margin-right: 10px;
    width: 150px;
    height: 100;
    
}

.text-content {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

.headline-news-list {
    margin: 0;
    font-size: 1.8em;
    background-color: #f6f6f6;

}

.description-news-list {
    margin: 5px 0 0;
    color: #666;
    background-color: #f6f6f6;
}

/* asside */

aside{
    flex-direction: column;
    flex: 0,8;
    justify-content: center;
    width: 60vh;
    position: sticky;
    top: 0;
}
.most-seen-section {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-right: 20px;
    flex: 0,5;
    margin-left: 20px;
    padding: 25px;
    background-color: #f6f6f6;
    border-radius: 8px;
}

.most-seen-title , a {
    background-color: #f6f6f6;
}

.most-seen , .most-seen a {
    background-color: #f6f6f6;
}

.most-seen li {
    padding: 0.5em;
    margin: 1em;
    background-color: #f6f6f6;
}


.squareAD {
    width: 86%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
}

.squareAD img {
    margin-top: 15px;
    width: 250px;
    height: 250px;
}
/*idk*/